<h1>Log Filter</h1>
<%= stylesheet_link_tag "application" ,  :media => "all" %>
<%= form_tag log_filter_path, method: "post", remote: true, id: "log_filter_form" do %>
<div class = "log_filter_form">
	<table>
	  <tr>
	    <td><%= label_tag :startTime, "From time:", :style => "width: 70px; height: 15px;" %></td>
	    <td><%= number_field_tag :startTime, @timeStamps[0], :style => "width: 150px; height: 15px;" %></td>
	  </tr>
	  <tr>
	    <td><%= label_tag :endTime, "To time:", :style => "width: 70px; height: 15px;"%></td>
	    <td><%= number_field_tag :endTime, @timeStamps[1], :style => "width: 150px; height: 15px;"  %></td>
	  </tr>
	  <tr>
	  	<td><%= label_tag :appVersion, "App version:" %></td>
		<td><%= text_field_tag :appVersion, "", :style => "width: 150px; height: 15px;" %></td>
	  </tr>
	  <tr>
	  	<td><%= label_tag(:syncMode, "Sync mode:") %></td>
	  	<td><%= select_tag "syncMode", options_from_collection_for_select(Sync::Log::SYNC_MODES, :first, :last), :style => "width: 150px; height: 15px;"%></td>
	  </tr>
	  <tr>
	  	<td><%= label_tag(:error_codes, "Failure reason:") %></td>
	  	<td><%= select_tag "error_codes", options_from_collection_for_select(Sync::Log::SYNC_FAILED_ERRORS, :first, :last), :multiple => true, :style => "width: 300px; height: 200px;" %></td>
	  </tr>
	  <tr>
	  	<td><%= label_tag(:device_infos, "Device info:") %></td>
	  	<td><%= select_tag "device_infos", options_from_collection_for_select(Sync::Log::DEVICE_INFOS, :first, :first), :multiple => true, :style => "width: 300px; height: 70px;" %></td>
	  </tr>
	  <tr>
	  	<td><%= label_tag(:ios_versions, "iOS version:") %></td>
	  	<td><%= select_tag "ios_versions", options_from_collection_for_select(Sync::Log::IOS_VERSIONS, :to_s, :to_s), :multiple => true, :style => "width: 100px; height: 70px;"  %></td>
	  </tr>
	  <tr>
 		<td><%= submit_tag "Search" %></td>
 		<td></td>
	  </tr>
	</table>
	
 </div>
<% end %>
<div id="loading" style="display:none;">
  <p><img src="/assets/ajax-loader-pacman.gif" /> Please keep calm and wait !!! It could take several minutes !!! </p>
</div>
<div id="log_filter_result"></div>

 
<script type="text/javascript">
$('#log_filter_form').submit( function () {
	 var startTime = $('#startTime').val();
	 var endTime = $('#endTime').val();
	 if (!startTime && !endTime) {
	 	alert("Please input at least one value for start time or end time. That will help improve searching");
	 	return false;
	 }
	 console.log("ajax start");
	 $("#loading").show();
	});


</script>
